<%- include("./partials/header.ejs", {title: article.title}) %>

<h1><%= article.title %></h1>
<p><%= article.author %></p>
<p class="description"><%= article.description %></p>
<p><%= article.publishedAt %></p>
<img src="<%= article.urlToImage %>"></img>
<p><%= article.content %></p>

<%- include("./partials/footer.ejs") %>
